---
layout: default
class: home
hide_breadcrumbs: true
title: Escogiendo una licencia para Open Source
permalink: /
---

<h2>
  <span>{</span>
  ¿Cuál de las siguientes situaciones aplica en tu caso?
  <span>}</span>
</h2>
<ul class="triptych situations clearfix">
  <li class="whatever">
    <a href="licenses/mit">
      <span class="triptych-sprite three-arrows"></span>
      <h3>Busco algo sencillo y con muchas libertades.</h3>
    </a>
    <p>
      La <a href="licenses/mit">Licencia MIT</a> es una licencia muy permisiva, con un texto corto y conciso. Le permite a otros hacer lo que gusten con tu código siempre y cuando te den crédito y no exijan responsabilidad de tu parte.
    </p>
    <p>
      {% include using-sentence.html license-id="mit" %}
    </p>
  </li>
  <li class="patents">
    <a href="licenses/apache-2.0/">
      <span class="triptych-sprite lightbulb"></span>
      <h3>Me preocupan las patentes.</h3>
    </a>
    <p>
      La <a href="licenses/apache-2.0/">Licencia Apache 2.0</a> es una licencia muy permisiva, similar a la Licensia MIT, pero además entrega los derechos de patentes de los creadores y contribuidores a los usuarios.
    </p>
    <p>
      {% include using-sentence.html license-id="apache-2.0" %}
    </p>
  </li>
  <li class="copyleft">
    <a href="licenses/gpl-3.0/">
      <span class="triptych-sprite circular"></span>
      <h3>Me interesa que las mejoras a mi código sean compartidas.</h3>
    </a>
    <p>
      La <a href="licenses/gpl-3.0/">Licencia GNU GPLv3</a> es una licencia de <i>copyleft</i> que forza a cualquiera que distribuya tu código, o alguna obra derivativa a que compartan el código con los mismos términos que tú, y también entrega los derechos de patentes de creadores y contribuidores a usuarios.
    </p>
    <p>
      {% include using-sentence.html license-id="gpl-3.0" %}
    </p>
  </li>
</ul>
<h2>
  <span>{</span>
  ¿Qué pasa si ninguna de estas licencias me convence?
  <span>}</span>
</h2>
<ul class="triptych see-more clearfix">
  <li>
    <h3>Mi proyecto no es de software.</h3>
    <p>
      <a href="non-software">También hay licencias para eso</a>.
    </p>
  </li>
  <li>
    <h3>Busco otras opciones.</h3>
    <p>
      <a href="licenses">Hay otras licencias disponibles</a>.
    </p>
  </li>
  <li>
    <h3>No quiero tener que elegir una licencia.</h3>
    <p>
      <a href="no-permission">No tienes que elegir una</a>.
    </p>
  </li>
</ul>
